a{
    text-decoration: none;
}
.text-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    /*overflow-x: hidden;*/
    width: 1600px;
    position: relative;
    top: -50px;
    margin:auto;
}
body{
    font-family: Poppins;
    width: 1200px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
}
.button{
    display: inline-flex;
    width: 170px;
    height: 57px;
    border-radius: 29px;/*28.5*/
    background-color: #2500f9;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
header a{
    display: inline-block;
    margin: 18px;
    color: #242f51;
    font-weight: 400; /*regular*/
}
.logo{
    color: #242f51;
    font-weight: bold;
    font-size: 30px;
}
.logo>span{
    color: #fcae61;
}
#background{
    position: absolute;
    left: 0;
    top: 0;
    width: 1600px;
    z-index: -1;
}
#background>.part1{
    position: absolute;
    left: 10px;
    top: 209px;
    width: 788px;
    height: 630px;
    background:url("images/background/part1.png") no-repeat;
    opacity: 0.19;
}
#background>.part2{
    position: absolute;
    left: 910px;
    top: 169px;
    width: 446px;
    height: 816px;
    background:url("images/background/part2.png") no-repeat;
}
#background>.part3{
    width: 1600px;
    height: 1000px;/*865*/
    background:url("images/background/part3.png") no-repeat;
}
#background>.part4{
    position: absolute;
    top: 756px;
    width: 1600px;
    height: 1000px;/*865*/
    background:url("images/background/part4.png") no-repeat;
    z-index: -1;
}
#background>.part5{
    position: absolute;
    left: 92px;
    top: 1410px;
    width: 665px;
    height: 839px;
    background:url("images/background/part5.png") no-repeat;
}
#background>.part6{
    position: absolute;
    top: 2963px;
    left: 156px;
    width: 600px;
    height: 550px;
    background:url("images/background/part6.png") no-repeat;
}
#background>.part7{
    position: absolute;
    top: 4726px;
    right: 0;
    width: 763px;
    height: 807px;
    background:url("images/background/part7.png") no-repeat;
}
#background>.part8{
    position: absolute;
    top: 6991px;
    left: 0;
    width: 823px;
    height: 517px;
    background:url("images/background/part8.png") no-repeat;
}
#background>.part9{
    position: absolute;
    top: 8555px;
    right: 0;
    width: 844px;
    height: 472px;
    background:url("images/background/part9.png") no-repeat;
}

#banner1{
    position: absolute;
    left: 297px;
    top: 412px;
}
#banner1>.part1{
    position: relative;
    width: 362px;
    height: 35px;
    background-color: #e2eaed;
    border-radius: 18px;/*17.5px*/
}
#banner1>.part1>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 35px;
    background-color: #feaa25;
    color: white;
    font-family: FontAwesome5Pro;
    border-radius: 18px;/*17.5px*/
}
#banner1>.part2{
    margin: 0;
    margin-top: 24px;
    margin-bottom: 27px;
    color: #242f51;
    font-size: 60px;
    font-weight: 600;/*semi-bold*/
    line-height: 75px;
    width: 519px;
}
#banner1>.part3{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    width: 486px;
    color: #616368;
    margin-bottom: 40px;
}
#banner1>.part4 {
    display: flex;
    align-items: center;
}
#banner1>.part4>.button{
    margin: 0;
    margin-right: 27px;
}

#banner2{
    position: absolute;
    top: 1116px;
    left: 335px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#banner2>:nth-child(1){
    margin-bottom: 36px;
}
#banner2 img{
    margin: 0 25px;
}
#banner3{
    position: absolute;
    top: 1466px;
    left: 778px;
    width: 445px;
    display: flex;
    flex-direction: column;
}
#banner3>:nth-child(1){
    font-size: 36px;
    font-weight: 600;/*semi-bold*/
    margin-bottom: 25px;
}
#banner3>:nth-child(2){
    margin-bottom: 95px;
}
#banner3>:nth-child(3){
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#banner3 .feature{
    margin-bottom: 95px;
    padding-left: 115px;
    background-position: left center;
    position: relative;
}
#banner3 .feature>.icon{
    width: 88px;
    height: 88px;
    border-radius: 44px;
    position: absolute;
    top:16px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner3 .feature:nth-child(1)>.icon{
    background-color: #ffecef;
}
#banner3 .feature:nth-child(1)>h3{
    color: #f55767;
}
#banner3 .feature:nth-child(2)>.icon{
    background-color: #f4f4ff;
}
#banner3 .feature:nth-child(2)>h3{
    color: #2563ff;
}
#banner3 .feature:nth-child(3)>.icon{
    background-color: #e4ffee;
}
#banner3 .feature:nth-child(3)>h3{
    color: #40975f;
}
#banner3 .feature>h3{
    margin: 0;
    margin-bottom: 5px;
    font-weight: 600;/*semi-bold*/
}



