@font-face {
    font-family: 'FontAwesome5Pro';
    font-style: normal;
    font-weight: 400;
    src: url('fa-regular.ttf') format('truetype');
}

.fa{
    font-family: FontAwesome5Pro;
}

.fa-plus{
    font-style: normal;
}

.fa-plus:before{
    content: '\f067';
}
