a{
    text-decoration: none;
    color: inherit;
}
details>summary::-webkit-details-marker {
    display: none;
}
/*effectively hides the marker*/
details>summary {
    display: flex;
}
body{
    margin: 0;
}
